<div class="container mt-4">
  <p class="fw-bold fs-2" style="color: #FF8000;">{{!id() ? 'Nuevo Usuario' : 'Actualizar Usuario'}}</p>
  <form [formGroup]="userForm" (ngSubmit)="getDataForm()">
    <div class="mb-3">
      <label for="first_name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="first_name" placeholder="Introduzca su nombre" formControlName="first_name">
      <div class= "error-container">
        @if(checkControl('first_name', 'required' )){
        <p class="error">Campo requerido</p>
        }
        @if(checkControl('first_name', 'minlength' )){
        <p class="error">Campo con longitud minima de 3 caracteres</p>
        }
      </div>
    </div>
    <div class="mb-3">
      <label for="last_name" class="form-label">Apellidos</label>
      <input type="text" class="form-control" id="last_name" placeholder="Introduzca sus apellidos" formControlName="last_name">
      <div class= "error-container">
        @if(checkControl('last_name', 'required' )){
        <p class="error">Campo requerido</p>
        }
        @if(checkControl('last_name', 'minlength' )){
        <p class="error">Campo con longitud minima de 3 caracteres</p>
        }
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email Usuario</label>
      <input type="text" class="form-control" id="email" placeholder="Introduzca su email de usuario" formControlName="email">
      <div class= "error-container">
        @if(checkControl('email', 'required' )){
        <p class="error">Campo requerido</p>
        }
        @if(checkControl('email', 'pattern' )){
        <p class="error">El email no esta bien formado</p>
        }
      </div>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Imagen Usuario</label>
      <input type="text" class="form-control" id="image" placeholder="Introduzca la url de su foto de usuario https://ejemplo.com" formControlName="image">
        <div class= "error-container">
        @if(checkControl('image', 'required' )){
        <p class="error">Campo requerido</p>
        }
        @if(checkControl('image', 'pattern' )){
        <p class="error">La URL introducida no tiene un formato valida</p>
        }
      </div>
    </div>
    <div>
        <input type="submit" class=" btn-custom-orange mb-5" [value]=" !id() ? 'Guardar Usuario' : 'Actualizar Usuario'" [disabled]="!userForm.valid">
    </div>
  </form>
</div>